/*Fonts Geral */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spicy+Rice&display=swap');



body {
    font-family: "Spicy Rice", system-ui;  /*  sans-serif  */
    color: #282e35;  /*    */
    background: #ccbcbc ;  /*   */
}

a {
    text-decoration: none;
    color: #1da2d6;
}

a:hover {  /*pseudo-classe*/
    color: #0f5470;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Spicy Rice", system-ui; 
}

/*  Cabeçalho === Header */
#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background: #0c1f34; /* fundo Header Vertical */
    transition: all ease-in-out .5s;
    z-index: 9999;
    padding: 0 15px;
    overflow-y: auto;
}

#header .perfil img {
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 3px solid #1da2d6;
    box-shadow: 0px 5px 15px #1a1a1a;
}

.text-light a {
    font-family: "Spicy Rice";
    /* font-weight: 600; Para fonts Finas */
    color: whitesmoke;
    font-size: 30px;
}

.text-light a:hover {
    color: #dadada;
    transition: all .5s;
}

#header .perfil .social-links i {
    font-size: 22px;
    color: #0f5470;
    background: whitesmoke;
    border-radius: 50%;
    margin-right: 8px;
    text-align: center;
    display: inline;
    padding: 5px;
    transition: 0.3s;
}

#header .perfil .social-links i:hover {
    color: whitesmoke;
    background: #282e35;
    transition: all 0.3s;
}

